// Colors
$color-primary: hsl(25, 97%, 53%);

$color-neutral-100: hsl(0, 0%, 100%);
$color-neutral-200: hsl(217, 12%, 63%);
$color-neutral-300: hsl(216, 12%, 54%);
$color-neutral-400: hsl(213, 19%, 18%);
$color-neutral-500: hsl(216, 12%, 8%);

// Font
$font-family: Overpass, Arial, Helvetica, sans-serif;
$font-size-paragraph: 1.5rem;
